# flyctl launch added from .gitignore
**/dist
**/node_modules

# flyctl launch added from node_modules/.pnpm/tailwindcss@3.4.1/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.pnpm/tailwindcss@3.4.1/node_modules/tailwindcss/stubs/**/*
fly.toml
