---
const { title, description } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta property="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <style>
      html,
      body {
        overscroll-behavior-y: none;
      }
    </style>
  </head>
  <body>
    <div
      class="min-h-screen bg-gradient-to-r bg-gray-100 dark:bg-zinc-950 p-5 lg:p-10"
    >
      <div
        class="mx-auto rounded-lg bg-white dark:bg-zinc-900 dark:border dark:border-zinc-500 p-6 shadow-xl sm:w-2/3 md:w-3/5 lg:w-1/2 lg:p-12 xl:w-2/5"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
